<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">  
	
	<bean id="parentDataSource" class="org.apache.commons.dbcp.BasicDataSource">
	    <!-- 连接池等待时间 -->
		<property name="maxWait" value="40000"></property>
		<property name="validationQuery" value="SELECT 1"></property>
		<property name="testOnBorrow" value="false"></property>
		<property name="testWhileIdle" value="false"></property>
		<!-- 移除无引用连接（那些没有close的）此处需要保证程序中连接一定释放 -->
		<property name="removeAbandoned" value="true"></property>
		<property name="removeAbandonedTimeout" value="300000"></property>
		<!-- 一个连接空闲多久 remove from pool -->
		<property name="minEvictableIdleTimeMillis" value="500" />
		<!-- 过期时 循环测试多少次（0 就相当于关闭定时器） -->
		<property name="numTestsPerEvictionRun" value="1" />
		<!-- expire connection 定时器 周期 -->
		<property name="timeBetweenEvictionRunsMillis" value="120000" />
		
	</bean>
	<!-- service_platform读写分离 start -->
	<!--延保服务提供数据源 service_platform主库数据源   默认用作写入数据-->
	<bean id="platformDSForWrite" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform?useUnicode=true&amp;characterEncoding=UTF8" />
		<property name="username" value="snstWriter" />
		<property name="password" value="123456" />
	</bean>
	
	<!--延保服务提供数据源 service_platform从库数据源  用作读数据-->
	<bean id="platformDSBakForRead" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform?useUnicode=true&amp;characterEncoding=UTF8" />
		<property name="username" value="snstWriter" />
		<property name="password" value="123456" />
	</bean>
	<!-- service_platform读写分离 end -->
	
	<!--延保服务提供数据源 service_platform_order主库数据源  用作写入数据-->
	<bean id="dataSource1" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform_order?useUnicode=true&amp;characterEncoding=UTF8" />
		<property name="username" value="snstWriter" />
		<property name="password" value="123456" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="3" />
		<property name="maxIdle" value="3" />
		<property name="minIdle" value="1" />
	</bean>
	
	<!-- 两个读备库，用来做路由，到时候可以按照ip进行切换   start-->
	<!-- 延保服务提供数据源 service_platform_order备库1数据源 黄村机房  用作读数据-->
	<bean id="platformOrderDSBakForRead_hc1" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform_order?useUnicode=true&amp;characterEncoding=UTF8&amp;connectTimeout=60000&amp;socketTimeout=60000" />
		<property name="username" value="snstWrite" />
		<property name="password" value="123456" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="3" />
		<property name="maxIdle" value="3" />
		<property name="minIdle" value="1" />
	</bean>
	
	<bean id="platformOrderDSBakForRead_hc2" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform_order?useUnicode=true&amp;characterEncoding=UTF8&amp;connectTimeout=60000&amp;socketTimeout=60000" />
		<property name="username" value="snstWrite" />
		<property name="password" value="123456" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="3" />
		<property name="maxIdle" value="3" />
		<property name="minIdle" value="1" />
	</bean>
	
	<!-- 延保服务提供数据源 service_platform_order备库2数据源 亦庄机房  用作读数据-->
	<bean id="platformOrderDSBakForRead_yz" parent="parentDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://192.168.177.46:3306/service_platform_order?useUnicode=true&amp;characterEncoding=UTF8&amp;connectTimeout=60000&amp;socketTimeout=60000" />
		<property name="username" value="snstWrite" />
		<property name="password" value="123456" />
		<property name="initialSize" value="2" />
		<property name="maxActive" value="3" />
		<property name="maxIdle" value="3" />
		<property name="minIdle" value="1" />
	</bean>
	<!-- 两个读备库，用来做路由，到时候可以按照ip进行切换  end-->
	

	
		<!--延保DIY服务提供数据源 -->
	<bean id="diydataSource" parent="parentDataSource">
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="url" value="jdbc:sqlserver://10.10.224.124:1433;databaseName=jd2008" />
		<property name="username" value="write" />
		<property name="password" value="1q2w3e4r" />
	</bean>

	<bean id="dynamicDataSource" class="com.jd.platform.util.router.DynamicDataSource">
	    <property name="targetDataSources">  
              <map key-type="java.lang.String">  
                 <!-- 延保订单数据源 主从 -->
                 <entry key="master_platform" value-ref="platformDSForWrite"/>  
                 <entry key="slave_platform" value-ref="platformDSBakForRead"/>
                 
                 <!-- 延保补购数据源 主从 -->
                 <entry key="master_platform_order" value-ref="dataSource1"/>  
                 <entry key="slave_platform_order_hc1" value-ref="platformOrderDSBakForRead_hc1"/>
                 <entry key="slave_platform_order_hc2" value-ref="platformOrderDSBakForRead_hc2"/>
                 <entry key="slave_platform_order_yz" value-ref="platformOrderDSBakForRead_yz"/>
              </map>  
        </property>  
	</bean>
	
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
	    <property name="dataSource" ref="dynamicDataSource" />
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
	</bean>
	
</beans>