<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">  

	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="platformDSForWrite"></property>
	</bean>
	<bean id="serviceManager" class="com.jd.platform.manager.nexus.impl.ServiceManagerImpl"></bean>
	<bean id="classifyManager" class="com.jd.platform.manager.nexus.impl.ClassifyManagerImpl"></bean>
	<bean id="platformOrderManager" class="com.jd.platform.manager.order.impl.PlatformOrderManagerImpl"  />
	
		<!-- 虚拟密钥管理类 -->
	<bean id="virtualKeyManager" class="com.jd.platform.manager.nexus.impl.VirtualKeyManagerImpl" />
		<!-- 发送短信日志 -->
	<bean id="sendMessageLogManager" class="com.jd.platform.manager.sendmessagelog.impl.SendMessageLogManagerImpl" />
	
	<!-- 第三方供应商虚拟密钥管理类  -->
	<bean id="virtualKeyNoLocalStockManager" class="com.jd.platform.manager.virtualkey.impl.VirtualKeyNoLocalStockManagerImpl" />
	
        <!-- 服务信息管理-->
	<bean id="serviceAddressManager" class="com.jd.platform.manager.nexus.impl.ServiceAddressManagerImpl" />
        <!-- 服务商信息管理-->
        <bean id="facilitatorManager" class="com.jd.platform.manager.nexus.impl.FacilitatorManagerImpl" />
	
	<!-- 屏碎保管理信息接口 -->
	<bean id="pingsuibaoManager" class="com.jd.platform.manager.pingsuibao.impl.PingSuiBaoOrderManagerImpl"/>
	<!-- 补购manager  -->
	<bean id="bugouOrderManager" class="com.jd.platform.manager.bugou.order.impl.BugouOrderManagerImpl" />
	
	<!-- 富士冲印 -->
	<bean id="fsPhotoOrderManager" class="com.jd.platform.manager.order.impl.FsPhotoOrderManagerImpl"/>

	<!-- JdSku与SuppSku转化-->
	<bean id="skuConvertManager" class="com.jd.platform.manager.order.impl.SkuConvertManagerImpl"/>
        
        <!-- 备份历史订单Manager -->
	<bean id="historyOrderStoreManager" class="com.jd.platform.manager.platformorder.Impl.HistoryOrderStoreManagerImpl"/>
	<!-- 查询延保分类Manager -->
	<bean id="yanbaoCategoryInfoManager" class="com.jd.platform.manager.erp.impl.YanbaoCategoryInfoManagerImpl"/>

</beans>