<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
	default-autowire="byName">

	<bean id="supplizerDao"
		class="com.jd.platform.supplizersystem.dao.impl.SupplizerDaoImpl">
		
	</bean>
	<bean id="platformOrderDao" class="com.jd.platform.dao.order.impl.PlatformOrderDaoImpl">
		
	</bean>
	<bean id="serviceOrderListDao"
		class="com.jd.platform.supplizersystem.dao.impl.ServiceOrderListDaoImpl">
		  
	</bean>
	<bean id="supplizerResponseDao"
		class="com.jd.platform.supplizersystem.dao.impl.SupplizerResponseDaoImpl">
		
	</bean>
	<bean id="serviceOrderDetailDao"
		class="com.jd.platform.supplizersystem.dao.impl.ServiceOrderDetailDaoImpl">
		
	</bean>

	<bean id="serviceDao" class="com.jd.platform.dao.nexus.impl.ServiceDaoImpl">
		
	</bean>

	<bean id="facilitatorDao" class="com.jd.platform.dao.nexus.impl.FacilitatorDaoImpl">
		
	</bean>
	<bean id="classifyDao" class="com.jd.platform.dao.nexus.impl.ClassifyDaoImpl">
		
	</bean>
	
	<!--延保补够订单列表   -->
	<bean id="completeRetreatOrder" class="com.jd.platform.bugou.order.dao.Impl.CompleteRetreatOrderImpl">
	</bean>

		<!-- 虚拟密钥管理类 -->
	<bean id="virtualKeyDao" class="com.jd.platform.dao.nexus.impl.VirtualKeyDaoImpl">
		
	</bean>
	
        <!--区域-->
	<bean id="areaDao" class="com.jd.platform.dao.nexus.impl.AreaDaoImpl">
		
	</bean>
	<!--服务商地址-->
	<bean id="serviceAddressDao" class="com.jd.platform.dao.nexus.impl.ServiceAddressDaoImpl">
		
	</bean>
	
	<!-- 短信发送日志 -->
	<bean id="sendMessageLogDao" class="com.jd.platform.dao.sendmessagelog.impl.SendMessageLogDaoImpl">
		
	</bean>
	
	<!-- diy京东特色服务区域限制 -->
	<bean id="diyServcieLimitDao" class="com.jd.platform.dao.diyarealimit.impl.DiyServcieLimitDaoImpl">
		<property name="dataSource" ref="diydataSource" />
	</bean>

	<!-- 第三方供应商虚拟密钥Dao类  -->
	<bean id="virtualKeyNoLocalStockDao" class="com.jd.platform.dao.virtualkey.impl.VirtualKeyNoLocalStockDaoImpl">
		
	</bean>
	<!-- 补购dao  -->
	<bean id="bugouOrderDao" class="com.jd.platform.platformorder.dao.impl.BugouOrderDaoImpl">
	</bean>
	<!-- 屏碎保管理信息接口 -->
	<bean id="pingsuibaodao" class="com.jd.platform.dao.pingsuibao.impl.PingSuiBaoDaoImpl">
		
	</bean>
	
	<!-- 富士冲印 -->
	<bean id="fsPhotoOrderDao" class="com.jd.platform.dao.order.impl.FsPhotoOrderDaoImpl" />

	<!-- JdSku与SuppSku转化-->
	<bean id="skuConvertDao" class="com.jd.platform.dao.order.impl.SkuConvertDaoImpl" />
        
        <!-- 备份历史订单DAO -->
	<bean id="historyOrderStoreDao" class="com.jd.platform.platformorder.dao.impl.HistoryOrderStoreDaoImpl" />
	 <!-- 查询延保分类DAO -->
	<bean id="categoryInfoDao" class="com.jd.platform.erp.dao.impl.YanbaoCategoryInfoDaoImpl" />
</beans>