<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jd.kaopu.dao.user.IUserDao">
    <!-- 开启Mabatis二级缓存 -->  
    <cache/>
    <!-- 用来定义可重用的SQL代码段 -->  
    <sql id="user_sql">  
        name,pwd,sex,age,register_date,email,phone,local,birth_year,birth_mouth,birth_day,province,city,weibo,qq,vip,level,netname,signature
    </sql>  
   
    <insert id="add" parameterType="User">
        INSERT INTO USER<include refid="user_sql"/>) VALUES(#{id},#{name},#{pwd},#{sex},#{age},#{register_date},#{email},#{phone},#{local},#{birth_year},#{birth_mouth},#{birth_day},#{province},#{city},#{weibo},#{qq},#{vip},#{level},#{netname},#{signature})  
    </insert>
    <update id="update" parameterType="User">  
        UPDATE USER SET name=#{name} WHERE id=#{id}  
    </update>  
    
    <select id="list" resultType="User">  
        SELECT * FROM USER WHERE name = #{name} and pwd = #{pwd}
    </select>  
     
    <select id="count" parameterType="int" resultType="User">  
        SELECT count(1) FROM USER WHERE id= #{id}
    </select>  
</mapper>